/deep/ {
  @apply leading-loose;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-10 font-normal text-grey-darkest;
  }
  h1 {
    @apply mt-0 text-3xl;
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      @apply mt-4;
    }
  }
  h2 {
    @apply text-2xl;
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      @apply mt-4;
    }
  }
  h3 {
    @apply text-xl;
    & + h4,
    & + h5,
    & + h6 {
      @apply mt-4;
    }
  }
  h4 {
    @apply text-xl;
    & + h5,
    & + h6 {
      @apply mt-4;
    }
  }
  h5 {
    @apply text-xl;
    & + h6 {
      @apply mt-4;
    }
  }
  h4,
  h5,
  h6 {
    @apply text-lg;
  }
  p,
  ul,
  ol {
    @apply mt-6;
  }
  ul {
    @apply list-reset ml-4;
    li {
      &:before {
        @apply inline-block -ml-4 mr-3 text-grey;
        content: '\2022';
      }
    }
  }
  a {
    @apply text-sapphire-blue no-underline;
    &:hover {
      @apply underline;
    }
  }
  table {
    @apply mt-6;
    tr,
    th {
      td {
        @apply p-2 border-b border-solid border-grey-light;
        &:first-child {
          @apply pl-0;
        }
        &:last-child {
          @apply pr-0;
        }
      }
    }
    tr {
      &:last-child {
        td {
          @apply border-none;
        }
      }
    }
  }
  code {
    @apply py-1 px-2 bg-grey-lighter text-grey-darkest text-sm rounded;
  }
  pre {
    @apply block mt-6 p-6 bg-grey-lighter text-grey-darkest text-sm overflow-x-auto rounded;
    code {
      all: unset;
    }
    .hljs {
      &-comment,
      &-quote {
        color: #998;
      }
      &-keyword,
      &-selector-tag,
      &-subst {
        color: #333;
        @apply font-bold;
      }
      &-number,
      &-literal,
      &-variable,
      &-template-variable,
      &-tag {
        color: #008080;
      }
      &-string,
      &-doctag {
        color: #d14;
      }
      &-title,
      &-section,
      &-selector-id {
        color: #900;
        @apply font-bold;
      }
      &-subst {
        @apply font-normal;
      }
      &-type,
      &-class,
      &-title {
        color: #458;
        @apply font-bold;
      }
      &-tag,
      &-name,
      &-attribute {
        color: #000080;
        @apply font-normal;
      }
      &-regexp,
      &-link {
        color: #009926;
      }
      &-symbol,
      &-bullet {
        color: #990073;
      }
      &-built_in,
      &-builtin-name {
        color: #0086b3;
      }
      &-meta {
        color: #999;
        @apply font-bold;
      }
      &-deletion {
        background: #fdd;
      }
      &-addition {
        background: #dfd;
      }
      &-emphasis {
        @apply italic;
      }
      &-strong {
        @apply font-bold;
      }
    }
  }
}
